.boxList .btn--viewMore, .banner .banner_txtBox .btn--viewMore, .header .header_login .login_btn {
  border: none;
  outline: none;
  background: #bc2333;
  color: #fff;
  padding: 8px 12px;
  border-radius: 35px;
  cursor: pointer;
  text-align: center;
}
.boxList .btn--viewMore:active, .banner .banner_txtBox .btn--viewMore:active, .header .header_login .login_btn:active {
  transform: translateY(3px);
  box-shadow: 1px 2px 0 rgba(21, 38, 24, 0.8);
  transition: 0.2s ease-in-out;
}

:root {
  font-family: "Noto Sans TC", sans-serif;
  color-scheme: light;
  color: rgb(0, 0, 0);
  background-color: #fff;
  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

.wrap {
  padding: 20px 10px 0 10px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .wrap {
    padding: 130px 20px 0 20px;
  }
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-weight: normal;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
}

*:hover,
*:focus,
*:active {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=button],
input[type=text],
input[type=number],
textarea {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::-ms-clear {
  display: none;
}

input::-ms-reveal {
  display: none;
}

input[type=password]::-webkit-textfield-decoration-container {
  visibility: hidden;
}

.nofloat:after {
  content: "";
  display: table;
  clear: both;
}

/* ::-webkit-scrollbar{ 
	width:10px;
	height: 10px;
	background-color:#f1f1f1;
} */
::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border: 3px #f1f1f1 solid;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

*:hover::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
}

::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}

img {
  width: 100%;
  vertical-align: middle;
}

.boxList .btn--viewMore, .banner .banner_txtBox .btn--viewMore, .header .header_login .login_btn {
  border: none;
  outline: none;
  background: #bc2333;
  color: #fff;
  padding: 8px 12px;
  border-radius: 35px;
  cursor: pointer;
  text-align: center;
}
.boxList .btn--viewMore:active, .banner .banner_txtBox .btn--viewMore:active, .header .header_login .login_btn:active {
  transform: translateY(3px);
  box-shadow: 1px 2px 0 rgba(21, 38, 24, 0.8);
  transition: 0.2s ease-in-out;
}

.header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: white;
  padding: 20px 10px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .header {
    overflow: hidden;
    padding: 20px 20px;
    position: fixed;
    align-content: start;
    height: 130px;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 2px 10px rgba(21, 38, 24, 0.3);
  }
  .header.menuExtend {
    height: 322px;
  }
  .header.sonMenuExtend {
    height: 630px;
  }
  .header .hamburgerIconContainer {
    width: 33.333%;
  }
  .header .hamburgerIconContainer .hamburgerIcon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: -moz-fit-content;
    width: fit-content;
  }
  .header .hamburgerIconContainer .hamburgerIcon.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  .header .hamburgerIconContainer .hamburgerIcon.active .bar:nth-child(2) {
    opacity: 0;
  }
  .header .hamburgerIconContainer .hamburgerIcon.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  .header .hamburgerIconContainer .hamburgerIcon .bar {
    width: 30px;
    height: 4px;
    background-color: #152618;
    margin: 2px 0;
    transition: 0.2s ease-in-out;
    border-radius: 5px;
  }
  .header .hamburgerIconContainer .hamburgerIcon .bar:nth-child(2) {
    margin-top: 4px;
  }
  .header .hamburgerIconContainer .hamburgerIcon .bar:nth-child(3) {
    margin-top: 4px;
  }
}
.header .header_LOGO {
  width: 33.333%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: white;
}
.header .header_LOGO a {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  height: 100%;
  background: url(../assets/LOGO/GOODMAN_LOGO.png) no-repeat center/100%;
}
@media screen and (max-width: 768px) {
  .header .header_LOGO {
    justify-content: center;
  }
}
.header .header_searchbar {
  width: 33.333%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 768px) {
  .header .header_searchbar {
    width: 100%;
    order: 3;
    margin-top: 10px;
  }
}
.header .header_searchbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 30px;
  background: url(../assets/icon/magnifying-glass.png) no-repeat center center/40%;
  opacity: 0.7;
}
.header .header_searchbar .searchInput {
  width: 100%;
  border-radius: 35px;
  height: 30px;
  border: 1px solid #2c2c2c;
  box-shadow: 1px 2px rgba(21, 38, 24, 0.8);
  padding-left: 45px;
}
.header .header_login {
  width: 33.333%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .header_login .login_btn {
  height: 30px;
  font-size: 14px;
  line-height: 1;
}
.header .navbar {
  width: 100%;
  display: flex;
  margin: 15px 0px;
  overflow: hidden;
  white-space: nowrap;
  background: white;
}
@media screen and (max-width: 768px) {
  .header .navbar {
    order: 4;
    flex-flow: column;
    padding-top: 30px;
    margin: 0;
  }
}
.header .navbar .navbar_items:not(:first-of-type) {
  margin-left: 100px;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
@media screen and (max-width: 768px) {
  .header .navbar .navbar_items:not(:first-of-type) {
    margin-left: 0;
    margin-top: 20px;
  }
}
.header .navbar .navbar_items:not(:first-of-type) a {
  display: inline-block;
  position: relative;
  padding-bottom: 2px;
}
.header .navbar .navbar_items:not(:first-of-type) a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-bottom: 2px solid #bc2333;
  transition: 0.3s;
  transform: scaleX(0);
  transform-origin: bottom left;
}
.header .navbar .navbar_items:not(:first-of-type) a:hover {
  color: #152618;
}
.header .navbar .navbar_items:not(:first-of-type) a:hover::after {
  transform: scaleX(1);
}
.header .navbar .DPList {
  margin-right: 25px;
  transition: 0.3s ease-in-out;
}
.header .navbar .DPList > a {
  padding-right: 25px;
  position: relative;
}
.header .navbar .DPList > a .icon-arrow {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 1px;
  right: 0;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
}
.header .navbar .DPList > a .icon-arrow--open {
  transform: rotate(-180deg);
}
.header .navbar .DPList .district {
  visibility: hidden;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  align-content: flex-start;
  height: 0;
  position: absolute;
  top: 100%;
  left: 5%;
  padding: 10px 0 10px 45px;
  background: white;
  width: 19%;
  border-radius: 5px;
  box-shadow: 5px 8px 10px rgba(21, 38, 24, 0.5);
  transition: 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  .header .navbar .DPList .district {
    width: 100%;
    position: relative;
    box-shadow: none;
    padding: 0;
  }
}
.header .navbar .DPList .district--show {
  visibility: visible;
  height: 235%;
}
@media screen and (max-width: 768px) {
  .header .navbar .DPList .district--show {
    box-shadow: none;
  }
}
.header .navbar .DPList .district .district_items {
  font-size: 16px;
  font-weight: 500;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 5px;
  display: block;
  position: relative;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .header .navbar .DPList .district .district_items {
    margin-left: 30px;
    font-size: 14px;
  }
}
.header .navbar .DPList .district .district_items::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-bottom: 2px solid #bc2333;
  transition: 0.3s;
  transform: scaleX(0);
  transform-origin: bottom left;
}
.header .navbar .DPList .district .district_items:hover {
  color: #152618;
}
.header .navbar .DPList .district .district_items:hover::after {
  transform: scaleX(1);
}

.boxList .btn--viewMore, .banner .banner_txtBox .btn--viewMore, .header .header_login .login_btn {
  border: none;
  outline: none;
  background: #bc2333;
  color: #fff;
  padding: 8px 12px;
  border-radius: 35px;
  cursor: pointer;
  text-align: center;
}
.boxList .btn--viewMore:active, .banner .banner_txtBox .btn--viewMore:active, .header .header_login .login_btn:active {
  transform: translateY(3px);
  box-shadow: 1px 2px 0 rgba(21, 38, 24, 0.8);
  transition: 0.2s ease-in-out;
}

.banner {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner .banner_txtBox {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 50%;
  height: 300px;
  padding: 15px 15px 15px 0;
}
.banner .banner_txtBox .title {
  font-size: 22px;
  font-weight: 900;
  color: #000;
  margin: 0 0 20px 0;
}
.banner .banner_txtBox .content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  margin-bottom: 40px;
}
.banner .banner_txtBox .btn--viewMore {
  height: 30px;
  font-size: 14px;
  line-height: 1;
  width: 90px;
  white-space: nowrap;
  align-self: flex-end;
}
.banner .banner_pic {
  width: 50%;
  height: 300px;
  padding: 15px 0 15px 15px;
  display: flex;
  justify-content: center;
  position: relative;
}
.banner .banner_pic::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 75%;
  bottom: 1px;
  right: 14%;
  border-radius: 35px;
  border: 5px solid #bc2333;
  background: #152618;
}
.banner .banner_pic img {
  width: 60%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 35px;
  position: relative;
}

.boxList .btn--viewMore, .header .header_login .login_btn, .banner .banner_txtBox .btn--viewMore {
  border: none;
  outline: none;
  background: #bc2333;
  color: #fff;
  padding: 8px 12px;
  border-radius: 35px;
  cursor: pointer;
  text-align: center;
}
.boxList .btn--viewMore:active, .header .header_login .login_btn:active, .banner .banner_txtBox .btn--viewMore:active {
  transform: translateY(3px);
  box-shadow: 1px 2px 0 rgba(21, 38, 24, 0.8);
  transition: 0.2s ease-in-out;
}

.boxList {
  width: 100%;
  margin: 0 auto 50px auto;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.boxList .boxList_headline {
  font-size: 24px;
  font-weight: 900;
  margin: 15px auto 10px auto;
}
.boxList .cardBox {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
@media screen and (max-width: 1060px) {
  .boxList .cardBox {
    height: 350px;
    flex-flow: row nowrap;
    overflow-x: scroll;
  }
}
.boxList .cardBox .card {
  width: calc(25% - 10px);
  height: auto;
  min-width: 250px;
  min-height: 340px;
  margin: 0 5px 10px 5px;
  padding: 10px;
  border: 2px solid #152618;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .boxList .cardBox .card {
    width: calc(33.3333333333% - 40px);
    height: auto;
  }
}
.boxList .cardBox .card .card_pic {
  width: 100%;
  margin-bottom: 10px;
}
.boxList .cardBox .card .card_pic img {
  height: 100%;
  border-radius: 10px;
}
.boxList .cardBox .card .card_info {
  height: 40%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
}
.boxList .cardBox .card .card_info .title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
  font-size: 18px;
  font-weight: 900;
  color: #000;
  margin-bottom: 5px;
}
.boxList .cardBox .card .card_info .address {
  font-size: 16px;
  color: #000;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.boxList .cardBox .card .card_info .rate {
  width: 100%;
  height: 30px;
  position: relative;
  overflow: hidden;
  display: flex;
}
.boxList .cardBox .card .card_info .rate .star_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
}
.boxList .cardBox .card .card_info .rate .star_container .score {
  line-height: 2.5;
  font-size: 14px;
  font-weight: 500;
}
.boxList .cardBox .card .card_info .rate .star_container .star {
  width: 24px;
  height: 24px;
  margin: 2px 6px 0 0;
  background: url("../assets/icon/RTstars_single.png") no-repeat center/100%;
}
.boxList .cardBox .card .card_info .rate .star_container .empty {
  background: url("../assets/icon/ETstars_single.png") no-repeat center/100%;
}
.boxList .btn--viewMore {
  margin: 10px auto 0 auto;
}

.header .header_login .login_btn, .banner .banner_txtBox .btn--viewMore, .boxList .btn--viewMore {
  border: none;
  outline: none;
  background: #bc2333;
  color: #fff;
  padding: 8px 12px;
  border-radius: 35px;
  cursor: pointer;
  text-align: center;
}
.header .header_login .login_btn:active, .banner .banner_txtBox .btn--viewMore:active, .boxList .btn--viewMore:active {
  transform: translateY(3px);
  box-shadow: 1px 2px 0 rgba(21, 38, 24, 0.8);
  transition: 0.2s ease-in-out;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 768px) {
  .footer {
    flex-flow: column;
  }
}
.footer .footer_LOGO {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
}
@media screen and (max-width: 768px) {
  .footer .footer_LOGO {
    justify-content: center;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.footer .footer_LOGO a {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  height: 100%;
  background: url(../assets/LOGO/GOODMAN_LOGO.png) no-repeat center/100%;
  transform: scale(1.2);
}
@media screen and (max-width: 768px) {
  .footer .footer_LOGO a {
    transform: none;
  }
}
.footer .footer_info {
  width: 100%;
  margin-left: 25px;
  display: flex;
  flex-flow: column;
}
@media screen and (max-width: 768px) {
  .footer .footer_info {
    font-size: 14px;
    margin-left: 0;
    justify-content: center;
    align-items: center;
  }
}
.footer .footer_info li {
  display: inline-block;
  padding-left: 25px;
}
@media screen and (max-width: 768px) {
  .footer .footer_info li {
    font-size: 14px;
    text-align: center;
  }
  .footer .footer_info li:not(:first-of-type) {
    margin-top: 2px;
  }
}
.footer .footer_info .phone {
  position: relative;
}
.footer .footer_info .phone::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 16px;
  width: 16px;
  background: url(../assets/icon/phone_icon.png) no-repeat center/cover;
}
.footer .footer_info .IGAccount {
  position: relative;
}
.footer .footer_info .IGAccount::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 16px;
  width: 16px;
  background: url(../assets/icon/instagram_icon.png) no-repeat center/cover;
}
.footer .footer_info .email {
  position: relative;
}
.footer .footer_info .email::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 16px;
  width: 20px;
  background: url(../assets/icon/email_icon.png) no-repeat center/cover;
}

.copyright {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}/*# sourceMappingURL=all.css.map */