@import "../style/scss/method";
:root {
  font-family: "Noto Sans TC", sans-serif;
  color-scheme: light;
  color: rgb(0, 0, 0);
  background-color: #fff;
  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}
.wrap {
  padding: 20px 10px 0 10px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  @include rwd(768) {
    padding: 130px 20px 0 20px;
  }
}

@import "../style/scss/reset";
@import "../style/scss/header";
@import "../style/scss/banner";
@import "../style/scss/boxList";
@import "../style/scss/footer";
