@import "../style/scss/reset";
@import "../style/scss/header";
@import "../style/scss/banner";
@import "../style/scss/boxList";
@import "../style/scss/footer";

:root {
  font-family: "Noto Sans TC", sans-serif;
  color-scheme: light;
  color: rgb(0, 0, 0);
  background-color: #ffff;
  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}
.wrap {
  padding: 20px 10px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  position: relative;
}
