@import "../scss/method";
@import "../scss/variable";

.boxList {
  width: 100%;
  margin: 0 auto 50px auto;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  .boxList_headline {
    font-size: 24px;
    font-weight: 900;
    margin: 15px auto 10px auto;
  }
  .cardBox {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    width: 100%;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      height: 5px;
    }
    .card {
      flex-basis: calc(100% / 4);
      min-width: 200px;
      margin: 0 5px 5px 5px;
      padding: 10px;
      border: 2px solid $color--dark;
      border-radius: 10px;
      .card_pic {
        width: 100%;
        margin-bottom: 10px;
        img {
          height: 40%;
          border-radius: 10px;
        }
      }
      .card_info {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
        .title {
          @include txtChip(1);
          font-size: 18px;
          font-weight: 900;
          color: #000;
          margin-bottom: 5px;
          // white-space: nowrap;
        }
        .address {
          font-size: 16px;
          color: #000;
          margin-bottom: 5px;
          @include txtChip(2);
        }
        .rate {
          width: 100%;
          height: 30px;
          position: relative;
          overflow: hidden;
          .nocrop {
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
            margin-left: -20%;
          }
          .rating {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            overflow: hidden;
            display: flex;

            .cropped {
              display: block;
              height: 100%;
              width: 100%;
              object-fit: cover;
              margin-left: -20%;
            }
            span {
              line-height: 2.5;
              margin-left: -18%;
              font-size: 12px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
  .btn--viewMore {
    @extend %btn--reset;
    margin: 10px auto 0 auto;
  }
}
